body { 
    background-color: hwb(295 81% 0%);
background-image: -o-linear-gradient(90deg, #f7b7ff 0%, #fff9c7 100%);
}

header{
    display: inline-flex;
    justify-content: center;
}

.nav-lista { 
    display: flex;
    list-style: none;
    font-synthesis: 40px;
    color: black;
    gap: 28px;
    text-transform: uppercase;
}

.nav-item:hover {
cursor: pointer;   
background-color: black; 
color: white;
}